<!DOCTYPE html>
<html>
  <head>
    <title>Quiche</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta prefix="og: http://ogp.me/ns#" property="og:image" content="https://i.imgur.com/Zq284sr.png"/>
    <meta prefix="og: http://ogp.me/ns#" property="og:description" content="Quiche is a fullstack clone of Robinhood"/>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
