<!DOCTYPE html>
<html>
  <head>
    <meta prefix="og: http://ogp.me/ns#" property="og:image" content="https://i.imgur.com/4oRQmMr.png"/>
    <meta prefix="og: http://ogp.me/ns#" property="og:description" content="Quiche is a fullstack clone of Robinhood"/>
     <link rel="icon" href="<%= image_url('quiche.ico') %>" type="image/x-icon">
    <title>Quiche</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
